.button-small {
  border-radius: 6px;
  background: var(--orange-normal);
  display: inline-flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.button-small:hover {
  cursor: pointer;
  border-radius: 6px;
  background: var(--orange-dark, #bd5601);
  display: inline-flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.button-small-text {
  color: var(--neutral-0, #fff);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
}
