.button-large {
  border-radius: 6px;
  background: var(--orange-normal, #fc7201);
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.button-large:hover {
    border-radius: 6px;
background: var(--orange-dark, #BD5601);
display: inline-flex;
padding: 16px;
justify-content: center;
align-items: center;
gap: 16px;
}

.button-large-text {
    color: var(--neutral-0, #FFF);
    font-family: "Inter", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.4px;
}
